<!DOCTYPE html>
<html lang="en">
      <head>
          <title>I will gladly pay you on Tues for a Hamburger today</title>
          <meta charset="Utf-8">
      </head>  
      <body>
              {{{ body }}} 
      </body> 
</html>              