  <div class="container">
    <div class="row">
      <div class="col-xs-12">
       <h1>EAT da BURGER</h1>
      </div>
    </div>  
  <div class="row">
    <div class="col-xs-12">
      <img src="../../static/images/Hamburger_PNG.png" alt="No Image today. Come back later." />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">    
      {{#each burger_data}}
        {{#if this.devoured}}
          {{else}}
            <form method="POST" action="/update?_method=PUT">
              <table class="table">
                <tr>
                  <td><strong>{{this.burger_name}}</strong></td>
                    <input type="hidden" class="form-control" value={{this.burger_name}} name="burger">
                  <td><button class="btn btn-info" type="submit">Devour It.</button></td>
                </tr> 
              </table> 
            </form> 
            {{/if}}  
            <div class="col-xs-4 col-xs-offset-4">
              {{#each burger_data}}
                {{#if this.devoured}}
                  <table class="table">
                    <tr>
                      <td>{{this.burger_name}}</td>
                    </tr>
                  </table>
                {{/if}}
              {{/each}}
            </div>
          </div>
          <div class="row">
            <form method="POST" action="/create" class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-4 col-xs-offset-4"
                  <textarea type="text" class="form-control" name="entry" rows=5></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4 col-xs-offset-4">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>